/* extra.css */
.red-text {
    color: red;
}

.yellow-text {
    color: goldenrod;
}

.green-text {
    color: green;
}

.hidden {
    display: none;
  }
  
  .spoiler-toggle {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }