/* extra.css */
.red-text {
    color: red;
}

.yellow-text {
    color: goldenrod;
}

.green-text {
    color: green;
}

.hidden {
    display: none;
}
  
.spoiler-text {
    color: rgb(64, 211, 106);
    text-decoration: bold;
}