/* extra.css */
.red-text {
    color: red;
}

.yellow-text {
    color: rgb(190, 190, 4);
}

.green-text {
    color: green;
}

.hidden {
    display: none;
}
  
.spoiler-text {
    color: goldenrod;
    text-decoration: underline;
}